
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap');
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #272932;
  background-color: #E7ECEF;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #e52f37;
  font-weight: 700;
}

ul, ol, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

p {
  margin: 0 0 50px;
  line-height: 2;
}

.card {
  width: 60%;
  margin: 30px auto;
  padding: 15px 80px;
  border-radius: 5px;
  background: white;
  box-shadow: 4px 4px 3px rgba(39, 41, 50, 0.5);
}

#first-card img.profil {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

#first-card p.btn{
  margin: 50px;
}

#first-card .btn {
  color: white;
  background-color: #e52f37;
  padding: 15px 25px;
  border-radius: 5px;
}

#first-card .btn:hover {
  transition: background-color 0.5s ease-out;
  background: #1d1d1d;
}

.social-menu li {
  display: inline-block;
  padding: 0px 50px;
  font-size: 50px;
}

.social-menu a.hover-black:hover {
  transition: color 0.5s ease-out;
  color: #1d1d1d;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .card {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .card {
    width: 400px;
  }
  .social-menu li {
    padding: 0px 10px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .card {
    width: 210px;
  }
  #first-card .btn {
    padding: 15px;
  }
  .social-menu li {
    padding: 0px 5px;
  }
}

